<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="connection.driver_class">org.hsqldb.jdbc.JDBCDriver</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:file:database</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>


        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <!--<property name="show_sql">true</property>-->

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>


        <mapping class="eu.telecomnancy.directdealing.models.User"/>
        <mapping class="eu.telecomnancy.directdealing.models.annonces.Annonce"/>
        <mapping class="eu.telecomnancy.directdealing.models.annonces.Pret"/>
        <mapping class="eu.telecomnancy.directdealing.models.annonces.Emprunt"/>
        <mapping class="eu.telecomnancy.directdealing.models.annonces.Service"/>
        <mapping class="eu.telecomnancy.directdealing.models.chat.Chat"/>
        <mapping class="eu.telecomnancy.directdealing.models.chat.Message"/>
        <mapping class="eu.telecomnancy.directdealing.models.deals.Deal"/>
        <mapping class="eu.telecomnancy.directdealing.models.evaluation.Evaluation"/>


    </session-factory>
</hibernate-configuration>